/*
ThemeWarrior Custom CSS 
-----------------------
Please write your custom CSS style in this file, that way you don't need to change the default CSS file.
*/


article.hentry h3.post-title a, article.hentry h1.post-title a {
    color: #333333;
    font-family: 'Vito-Bold'!important;
}

#featured-posts h2.post-title {
    font-family: 'Vito-Bold' !important;
}

article.hentry h1.post-title, h1.page-title, h1.entry-title, .page-title h1{
    font-family: 'Vito-Bold' !important;
}